# Results Analysis

In [2]:
from os import walk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
filenames = next(walk("results"), (None, None, []))[2]  # [] if no file

signs = []

df = pd.DataFrame([], columns=["name", "path", "original_cost", "final_cost", "shared_segments", "car_service_fares", "num_shared_segments", "num_car_service_fares"])

for file in filenames:
    df = pd.concat([df, pd.read_csv("results/" + file)], axis=0, join="inner")

df = df[df["final_cost"] != 0.0]

df

,name,path,original_cost,final_cost,shared_segments,car_service_fares,num_shared_segments,num_car_service_fares
0,Human1,"[sem4, sta2, sta1, sta3, sta4, sta6, sta5]",32.5,27.065428,[],"[Path: [sem4, sta2], Fare: 7,07, Expected: 22,50]",0,1
8,Human8,"[sem4, sta2, sta1, sta3, sta4, sta6]",30.5,43.314615,[],"[Path: [sem4, sta2], Fare: 25,31, Expected: 22...",0,1
9,Human9,"[pnt1, sta1, sta3, sta4, sta6, sta5]",18.0,18.0,[],[],0,0
0,Human1,"[sem1, sem3, sta4, sta6, sta5, sem5]",94.0,85.5354,[],"[Path: [sem1, sem3, sta4], Fare: 31,54, Expect...",0,2
1,Human2,"[sem5, sta5, sta6, sta4, sta3, sta1, pnt1]",63.0,38.223721,[],"[Path: [sem5, sta5], Fare: 0,22, Expected: 45,00]",0,1
...,...,...,...,...,...,...,...,...
0,Human1,"[sta5, sta6, sem7, sem8, sem9]",69.5,41.055804,[],"[Path: [sta6, sem7, sem8, sem9], Fare: 9,06, E...",0,1
1,Human2,"[sta4, sem3, sem1]",45.0,31.816727,[],"[Path: [sta4, sem3, sem1], Fare: 11,82, Expect...",0,1
2,Human3,"[sta4, sta3, sta1, sta2, sem4]",28.5,21.999249,[],"[Path: [sta2, sem4], Fare: 6,00, Expected: 22,50]",0,1
3,Human4,"[sem1, sem3, sta4, sta6, sem7, sem8, sem9]",114.5,82.111529,[],"[Path: [sem1, sem3, sta4], Fare: 19,34, Expect...",0,2
4,Human5,"[sta6, sta4, sta3]",4.0,4.0,[],[],0,0