# Results Analysis

In [1]:
import pandas as pd

## Experiment 1
- 50 Humans
- 20 Cars
- 20% chance of having at least 1-5 other humans wanting to share a ride segment

In [2]:
df = pd.read_csv('results/results-20c-50h.csv')
df.describe()

We can see from the description that since we are short on cars the mean final cost is higher than the expected original cost (high demand, low supply)

## Experiment 2

- 5 Humans
- 10 Cars
- 20% chance of having at least 1-5 other humans wanting to share a ride segment

In [6]:
df = pd.read_csv('results/results-5h-10c.csv')
df.describe()

       original_cost  final_cost  num_shared_segments  num_car_service_fares
count       9.000000    9.000000             9.000000               9.000000
mean       40.777778   34.990304             0.222222               0.666667
std        32.829209   27.482827             0.440959               0.707107
min         2.000000    2.000000             0.000000               0.000000
25%         2.000000    2.000000             0.000000               0.000000
50%        53.000000   46.712780             0.000000               1.000000
75%        53.000000   53.403767             0.000000               1.000000
max        94.000000   74.610605             1.000000               2.000000

We can now observe that since there is a proportion of 2 to 1 for cars to humans, the mean final cost is lower than the original cost, since the cars are on a auction for the best price

## Experiment 3

- 10 Humans
- 50 Cars
- 20% chance of having at least 1-5 other humans wanting to share a ride segment

In [7]:
df = pd.read_csv('results/results-10h-50c.csv')
df.describe()

       original_cost  final_cost  num_shared_segments  num_car_service_fares
count      11.000000   11.000000            11.000000              11.000000
mean       45.227273   42.903812             0.181818               0.727273
std        28.987380   39.905177             0.404520               0.786245
min         4.000000    4.000000             0.000000               0.000000
25%        13.000000   13.000000             0.000000               0.000000
50%        55.000000   32.162842             0.000000               1.000000
75%        69.500000   56.883793             0.000000               1.000000
max        75.500000  137.782078             1.000000               2.000000

As we can see, usually, when there are more cars than humans, the prices tend to minimize, since they are competing between each other to offer the best price

## Experiment 4

- 5 Humans
- 1 Cars
- 20% chance of having at least 1-5 other humans wanting to share a ride segment
- At least 6 points on path

In [8]:
df = pd.read_csv('results/results-5h-1c.csv')
df.describe()

       original_cost  final_cost  num_shared_segments  num_car_service_fares
count      13.000000   13.000000            13.000000              13.000000
mean       34.653846   55.600895             0.153846               0.692308
std        23.065473   55.715375             0.375534               0.751068
min        18.000000   18.000000             0.000000               0.000000
25%        18.000000   18.000000             0.000000               0.000000
50%        32.500000   31.617491             0.000000               1.000000
75%        32.500000   62.272987             0.000000               1.000000
max        92.000000  181.845390             1.000000               2.000000